#quiesSomos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#quiesSomos h2{
    width: 100%;
    color: gray;
    font-family: "Padauk";
}
#quiesSomos p.p1{
    width: 100%;
    font-family: "Padauk";
    text-align: center;
    text-indent: 1cm;
    line-height: 1.7;
    font-size: 18px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    
}

#quiesSomos figure img.p2{
    width: 70%;
}


#quiesSomos p.p2{
    width: 50%;
}



