#Servicios{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#Servicios P.p1{
    width: 100%;
    text-align: center;
    font-family: "Padauk";
    font-size: 40px;
    color:aqua;
}
#Servicios P.p2{
    width: 90%;
    text-align: center;
    font-family: "Padauk";
    font-size: 40px;
    color: black;
}
#Servicios figure img.p1{
    width: 100%;
    height: 100%;

}
#Servicios img.p2{
    width: 20%;
    height: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2px;
    
}
#Servicios h2{
    width: 20%;
    color: gray;
    font-family: "Padauk";
    font-size: 20px;
    text-align: center;
}
#Servicios img.p3{
    width: 20%;
    height: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2px;
}
#Servicios h3{
    width: 20%;
    color: gray;
    font-family: "Padauk";
    font-size: 20px;
    text-align: center;
}
#Servicios img.p4{
    width: 20%;
    height: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2px;
}
#Servicios h4{
    width: 20%;
    color: gray;
    font-family: "Padauk";
    font-size: 20px;
    text-align: center;
}
#Servicios img.p5{
    width: 20%;
    height: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2px;
}
#Servicios h5{
    width: 20%;
    color: gray;
    font-family: "Padauk";
    font-size: 20px;
    text-align: center;
}
